body {
  margin: 0px;
  background: lavenderblush;
}

header{
    text-align: center;
    font-family: Architects Daughter;
    background-image: linear-gradient(to bottom right, rgb(250, 175, 187), rgb(252, 193, 252));
}
/* Add a black background color to the top navigation */
.topnav {
  background: #ff6699;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ff0066;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
div h2 {
  display: inline-block;
  background: coral;
  border-radius: 100px;
  padding: 5px 10px;
  margin-top: 15px;
}

footer {
  text-align: center;
}

@media screen and (min-width: 601px) {
    header {
      font-size: 70px;
    }
    header img {
        width: 70px;
        height: auto;
        position:relative;
        top: 10px;
        left: 10px;
    }
    .topnav a{
      padding: 14px 16px;
      font-size: 17px;
    }
    .dropdown .dropbtn {
      padding: 14px 16px;
      font-size: 17px;
    }

    footer {
      font-size: small;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    header {
      font-size: 30px;
    }
    header img {
        width: 30px;
        height: auto;
        position:relative;
        top: 6px;
        left: 5px;
    }
    .topnav a {
      padding: 9px 11.1px;
      font-size: 12px;
    }
    .dropdown .dropbtn {
      padding: 9px 11.1px;
      font-size: 12px;
    }

    footer {
      font-size: x-small;
    }
  }