body {
    margin: 0px;
}

header{
    text-align: center;
    font-family: Architects Daughter;
    background-image: linear-gradient(to bottom right, rgb(250, 175, 187), rgb(252, 193, 252));
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ff6699;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff0066;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: white;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 1;
  position: fixed; /* Stay in place */
  top: 1;
  background-color: rgb(250, 175, 187);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1%;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.active {
  color: #444444;
}

footer {
  text-align: center;
}

@media screen and (min-width: 601px) {
    header {
      font-size: 70px;
    }
    header img {
        width: 70px;
        height: auto;
        position:relative;
        top: 10px;
        left: 10px;
    }
    .topnav a{
      padding: 14px 16px;
      font-size: 17px;
    }
    .sidenav a {
      padding: 8px 30px;

    }
    footer {
      font-size: small;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    header {
      font-size: 30px;
    }
    header img {
        width: 30px;
        height: auto;
        position:relative;
        top: 6px;
        left: 5px;
    }
    .topnav a {
      padding: 9px 11.1px;
      font-size: 12px;
    }
    .sidenav a {
      padding: 6px 16px;
      font-size: 80%;
    }
    footer {
      font-size: x-small;
    }
  }